// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$normal: #ccc9aa;
$fire: #f67f0b;
$water: #0a7abc;
$grass: #3e9709;
$flying: #5eb9b2;
$fighting: #e81319;
$poison: #a819d7;
$electric: #fffa24;
$ground: #e1d158;
$rock: #776a3e;
$psychic: #ec0e63;
$ice: #1995a1;
$bug: #bddd6e;
$ghost: #8e55a4;
$steel: #7b8e8a;
$dragon: #8a55fd;
// $dark: #1b1919;
$fairy: #ffa0c2;